
$blockTimes: 800,830,900,930,1000,1030,1100,1130,1200,1230,1300,1330,1400,1430,1500,1530,1600,1630,1700,1730,1800,1830,1900,1930,2000,2030,2100,2130,2200;
$blockLengths: 1, 2, 3, 4;

.scheduleContainer {
  display: grid;
  grid-gap: 0.5rem;
  padding: 2rem 2rem;
  max-width: 1200px;
  margin: 0 auto;
  
  grid-template-columns: 5rem repeat(4, 1fr); 
  grid-template-rows: repeat(29, 0.5fr);
  grid-template-areas:
    "day day day day day"
    "time800 stage stage stage stage"
    "time830 stage stage stage stage"
    "time900 stage stage stage stage"
    "time930 stage stage stage stage"
    "time1000 stage stage stage stage"
    "time1030 stage stage stage stage"
    "time1100 stage stage stage stage"
    "time1130 stage stage stage stage"
    "time1200 stage stage stage stage"
    "time1230 stage stage stage stage"
    "time1300 stage stage stage stage"
    "time1330 stage stage stage stage"
    "time1400 stage stage stage stage"
    "time1430 stage stage stage stage"
    "time1500 stage stage stage stage"
    "time1530 stage stage stage stage"
    "time1600 stage stage stage stage"
    "time1630 stage stage stage stage"
    "time1700 stage stage stage stage"
    "time1730 stage stage stage stage"
    "time1800 stage stage stage stage"
    "time1830 stage stage stage stage"
    "time1900 stage stage stage stage"
    "time1930 stage stage stage stage"
    "time2000 stage stage stage stage"
    "time2030 stage stage stage stage"
    "time2100 stage stage stage stage"
    "time2130 stage stage stage stage"
    "time2200 stage stage stage stage";
}

/**
 * Time
 */
.time {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-top: thin dotted #ccc;
  height: 100%;
  padding: 0 0.5rem;
  
  @each $time in $blockTimes {
    &.start-#{$time} {grid-area: time#{$time} }
  }
  
  &[class*="30"]:not(.start-1300) {
    color: #ccc;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
//   border-top: thin dotted #ccc;
  height: 100%;
  padding: 0 0.5rem;
  grid-area: day
}

/**
 * Event
 */
.event {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem 1rem;
  background-color: orange;
  border-radius: 0.2rem;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  color: #000000;
  
  span {
    display: block;
    width: 100%;
    font-size: 15px;
    font-weight: normal;
    padding: 0.2em 0.2em;
  }
  
  @each $time in $blockTimes {
    &.start-#{$time} {grid-row-start: time#{$time} }
  }
  
  @each $time in $blockTimes {
    &.end-#{$time} {grid-row-end: time#{$time} }
  }
  
  @each $length in $blockLengths {
    &.length-#{$length} {
      grid-column-end: span #{$length};
    }
  }
  
  .left{text-align: left;}

  &.stage-arrival {background-color: #f3f3ed};
  &.stage-opening {background-color: #94b370};
  &.stage-break {background-color: #a7cdde};
  &.stage-open {background-color: #9e9e9e};
  &.stage-session-type-1 {background-color: #f1805e};
  &.stage-session-type-2 {background-color: #f8ba5c};
  &.stage-session-type-3 {background-color: #70a0d7};
  &.stage-session-type-4 {background-color: #ffa726};
}